<div class="p-8">
    <a href="/home"><img src="/assets/images/thefamilie-logo-dark.svg" alt="The Familie Logo" class="max-w-lg" /></a>
    <div>
        <p class="py-5 style-font text-4xl leading-9 max-w-xs">{{ site.tagline }}</p>
    </div>
</div>