<a href="/">
    <img src="/assets/images/thefamilie-logo-dark.svg" class="w-60 md:w-80" />
</a>
<div class="hidden md:block">
    <span class="text-lg style-font text-familie-700">{{ site.tagline }}</span>
</div>