<div>
<a href="{{ site.url }}">
 <img src="/assets/images/thefamilie-logo-dark.svg" alt="The Familie Logo" class=" max-w-80" />
</a>
<span class="block py-1 style-font text-[#4b4b4b] text-lg">{{ site.tagline }}</span>
</div>