<div class="flex w-full h-1.5">
  <div class="w-1/12 bg-[#000]"></div>
  <div class="w-1/12 bg-[#79511F]"></div>
  <div class="w-1/12 bg-[#61CCF6]"></div>
  <div class="w-1/12 bg-[#F6ABB6]"></div>
  <div class="w-1/12 bg-[#FFF]"></div>
  <div class="w-1/12 bg-[#E41F26]"></div>
  <div class="w-1/12 bg-[#F58C1D]"></div>
  <div class="w-1/12 bg-[#FDEB06]"></div>
  <div class="w-1/12 bg-[#088041]"></div>
  <div class="w-1/12 bg-[#3E60AB]"></div>
  <div class="w-1/12 bg-[#742A83]"></div>
  <div class="w-1/12 bg-[#D60270]"></div>
</div>