{% include "components/header/off-canvas.njk" %}
{% include "components/header/top.njk" %}



{% if transparentHeader == true  %} 
    <div class="bg-{{ mastImage }} bg-cover bg-no-repeat min-h-[550px] md:min-h-[800px] lg:min-h-[950px] border-b border-familie-150 bg-top">
{% endif %}


<header class="bg-familie-400/10">
<nav x-data="{ open: false }" role="navigation" aria-label="Main Menu">
    <div class="border-t border-familie-150">
        <div class="container">

            <div class="flex justify-between items-center">

                <div class="py-2 md:py-6">
                    <div class="w-sm">
                        <a href="/"><img src="/assets/images/thefamilie-logo-dark.svg" alt="The Familie Logo" /></a>
                    </div>
                    
                    <span class="style-font text-xl leading-4 text-familie-700">{{ site.tagline }}</span>
                </div>
                
                {% include "components/header/desktop-links.njk" %}
                {% include "components/header/mobile-button.njk" %}

            </div>

        </div>
    </div>
</nav>
</header>

{% if transparentHeader == true  %} 
    </div>
{% endif %}