{% include "components/header/top.njk" %}

<header class="bg-home-mast bg-cover bg-no-repeat min-h-[800px] bg-top border-b border-familie-150">

    <div class="border-t border-familie-150">
        <div class="container flex">
            <div class="flex-1 py-8">
                {% include "components/global/logo.njk" %}
            </div>
            <div class="flex-1 text-right">
                {% include "components/header/navigation.njk" %}
            </div>


        </div>
        <div class="container">
                
                
            <div class="max-w-lg py-24">
                <h2 class="style-font text-4xl text-familie-800 pb-4 mb-4 border-b border-familie-200">{{ site.home.introHeading }}</h2>
                <p class="style-font text-xl leading-8 text-familie-700">{{ site.home.introText }}</p>
            </div>
        </div>
        
    </div>

</header>
