{% include "components/header/top.njk" %}

<header class="bg-home-mast bg-cover bg-no-repeat min-h-[800px] bg-top">

    <div class="border-t border-familie-150">
        <div class="container flex">
            <div class="flex-1 py-8">
                {% include "components/global/logo.njk" %}
            </div>
            <div class="flex-1 text-right">
                {% include "components/header/navigation.njk" %}
            </div>
        </div>
    </div>

</header>
