<head>
   
{% include "components/head/meta.njk" %}
{% include "components/head/fonts.njk" %}
{% include "components/head/styles.njk" %}
{% include "components/head/scripts.njk" %}
{% include "components/head/title.njk" %}

</head>
