@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
  @apply font-sans;
}

.style-font {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/****** MAIN NAVIGATION ***/

ul.main-navigation {
  @apply style-font text-xl text-familie-700 font-normal;
}

ul.main-navigation {
  @apply style-font;
}

ul.main-navigation > li {
  @apply inline-block float-left;
}

ul.main-navigation > li > a {
  @apply block px-2 lg:pl-3 py-12 ml-2 lg:ml-3;
}

ul.main-navigation > li > ul {
  @apply w-64 bg-familie-100 border-t border-familie-200 text-sm rounded-lg;
}

ul.main-navigation > li > ul > li {
	@apply border-b border-familie-200;
}

ul.main-navigation > li > ul a {
	@apply block pl-6 py-3;
}

ul.main-navigation > li > ul li:hover {
	@apply bg-familie-100;
}

ul.main-navigation > li > ul > li:last-of-type {
  @apply border-none rounded-b-lg;
}
