<!DOCTYPE html>
<html lang="en">
   {% include "components/head/head.njk" %}

<body class="bg-familie-50">
   
      
      {% include "components/header/off-canvas.njk" %}
      {% include "components/global/pride.njk" %}
      {% include "components/header/top.njk" %}

      {% if transparentHeader == true  %} 
         {% include "components/header/header-transparent.njk" %}
      {% else %}
         {% include "components/header/header.njk" %}
      {% endif %}




<section class="w-full">
   {% block mainContent %}{% endblock %}
</section>

{% include "components/footer/footer.njk" %}

</body>
</html>