<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="/assets/css/main.css?v={% version %}" />
</head>

<body class="font-sans p-20">

<section class="bg-neutral-50">
   {% block mainContent %}{% endblock %}
</section>

</body>
</html>