{% extends "layouts/base.njk" %}
{% block mainContent %}

    <div class="container">

           <article class="p-8 lg:p-12">
            <div class="prose text-center">
               <h1 class="text-8xl text-center brand-font text-familie-700">
                {% if contentTitle %}
                    {{ contentTitle }}
                {% else %}
                    {{ title }}
                {% endif %}
                </h1>


                {{ content | safe }}
                </div>
            </article>
       

{% endblock %}


