<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="/assets/css/main.css?v={% version %}" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
<title>The Familie: An LGBTQIA+ Mental Health Collective</title>

<!-- Fathom - beautiful, simple website analytics -->
<script src="https://cdn.usefathom.com/script.js" data-site="UAIGBMVX" defer></script>
<!-- / Fathom -->
</head>

<body class="bg-familie-50">
<div class="bg-home-mast bg-cover bg-center bg-no-repeat h-screen p-8 md:p-12 lg:p-24">
    <div class="max-w-[300px] md:max-w-sm lg:max-w-md xl:max-w-lg">
     {% include "components/global/logo.njk" %}
    </div>
</div>
</body>
</html>