<!-- Mobile Button -->
      <div class="-mr-1 flex lg:hidden">
                <button
          type="button"
          @click="open = !open"
          class="p-2 justify-end rounded-md text-familie-700 hover:text-familie-800 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
          aria-controls="mobile-menu"
          aria-expanded="false">

          <span class="sr-only">Open Main Menu</span>

          <svg 
            x-description="Close Icons"
            x-state:on="Menu open"
            x-state:off="Menu closed"
            class="h-7 w-7 block"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            @click="$dispatch('offcanvas')"
            aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>
      </div>