<div class="bg-neutral-100 text-center text-right  py-3 font-medium uppercase text-sm">
    <div class="container">
        An LGBTQIA+ Mental Health Group &middot; Serving Clients In 40 States
    </div>
</div>