<div class="bg-familie-100">
    <div class="container flex py-4 shadow-inner">
        <div class="flex-1">
            <span class="style-font">{{ site.tagline }}</span>
        </div>
        <div class="flex-1 text-right">
            <span class="style-font">{{ site.subtagline }}</span>
        </div>
    </div>
</div>