<div class="bg-familie-100">
    <div class="container flex py-3 font-normal text-familie-700">
        <div class="flex-1">
            <span class="style-font">{{ site.top.cta }}</span>
        </div>
        <div class="flex-1 text-right">
            <span class="style-font">{{ site.top.consult }}</span>
        </div>
    </div>
</div>